<div class="row">
<div class="col-sm-9">
    <form role="form">
      <h3>Save</h3>
      <p>In order to save you must guess my password</p>
      <div class="form-group">
          <label>Password</label><br>
          <input class="form-control" type="password" ng-model="password">
      </div>
   </form>
<button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
<button type="button" class="btn btn-primary" ng-click="save()">Save</button>
<br><br>
<div class="alert alert-danger alert-dismissable" ng-show="errorMessage">
  <strong>Error!</strong> <span>{{ errorMessage }}</span>
</div>
</div>
</div>