<div>

<div class="btn-toolbar">
<div class="btn-group">
  <a href="#/post" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-plus"></span> Add</a>
  <a href="#/save" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-ok"></span> Save</a>
</div>


<div class="btn-group">
<button class="btn btn-default btn-sm" ng-click="posts.undo()" ng-class="{disabled: !posts.canUndo()}"><span class="glyphicon glyphicon-arrow-left"></span> Undo</button>
<button class="btn btn-default btn-sm" ng-click="posts.redo()" ng-class="{disabled: !posts.canRedo()}"><span class="glyphicon glyphicon-arrow-right"></span> Redo</button>
</div>

<span style="line-height:30px; margin-left:30px;color:#34e521;text-decoration:italic"><span class="glyphicon glyphicon-arrow-left"></span> You can edit but not save</span>
</div>

</div>
<br>
<my-post ng-repeat="post in posts.get() | orderBy:'-timestamp'"></my-post>

</div>
